* {
    font-family: 'Roboto', sans-serif;

}


body {
    margin: 0;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
    margin: 0;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style-type:none;
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 15px;
    padding: 0px;
    margin: 0;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}



.hero {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;

}

.herotext {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 300px;
    margin: 0;    
    gap: 10px
}
.image1 {
    max-width: 500px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB; 
}



button {
    cursor: pointer;
    padding: 5px 25px;
    margin-right: auto;

    border-radius: 7px;
    background-color: #3882f6;
    color: #E5E7EB; 
    font-weight: bold;
    border: none;
}

.seconddiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px 48px;
    margin: 0;  
    background-color: #f9faf8;
}

.title1 {
    text-align: center;
    align-self: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 70px 0 0 0 ;


}

.two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 70px;
}

.info, .image2, .owner {
    width: 250px;
    text-align: center;
    color: #1F2937;
 }

 .image2 {
    border-radius: 15px;
    border: 5px solid #3882f6;
    height: 250px;
 }

 .owner {
    font-size: smaller;
    text-decoration: none;
    color: #404142;
    
 }

 .three {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 300px;
    margin: 0;    
    gap: 10px;

}

 .maintext {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
 }

 .author {
    font-weight: bold;


 }
